*{
  font-family: Helvetica;
  text-align: center;
}

.top{

  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;

}

.nav{

  color: white;
  font-size: 18px;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

.items p{
  font-size: 14px;

}

.top h2{
  font-size: 23px;
  font-weight: bold;
  color: white;

}

.footer{
  background-color: dimgrey;
  font-size: 11px;
  color: white;

}

.footer p{
  text-align: left
}
